@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0 20px;
  font-family: "Saira Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 420px;
  margin: 30px auto;
  padding: 20px 20px 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #f6f6f6;
  text-align: center;
}

.expenses-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;

  >div>input {
    width: 100%;
  }
}

.search-form {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  >* {
    flex: 1;
  }
}

.sort-order {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  >* {
    flex: 1;
  }
}

h1 {
  color: #444;
  font-size: clamp(1.3em, 4.5vw, 1.7em);
  font-weight: 500;
  margin: 0 0 10px;
  line-height: 1.2;
}

h2 {
  margin: 10px;
  font-size: clamp(1.1em, 5vw, 1.5em);
  text-align: center;
  font-weight: 600;
  color: #d9534f;

  span {
    color: #333;
  }
}

input,
button,
select {
  font-family: "Saira Condensed", sans-serif;
}

input {
  padding: 4px 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline-color: #007bff;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  padding: 4px 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline-color: #007bff;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &.minimal {
    background-image: linear-gradient(45deg, transparent 50%, #aaa 50%), linear-gradient(135deg, #aaa 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) calc(.9em + 2px), calc(100% - 10px) calc(.9em + 2px), calc(100% - 2em) 0.4em;
    background-size: 5px 5px, 5px 5px, 1px 1.4em;
    background-repeat: no-repeat;

    &:focus {
      background-image: linear-gradient(45deg, #555 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #555 50%), linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 10px) 0.9em, calc(100% - 15px) 0.9em, calc(100% - 2em) 0.4em;
      background-size: 5px 5px, 5px 5px, 1px 1.4em;
      background-repeat: no-repeat;
    }
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.filters {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  >* {
    flex: 1;
  }
}

button {
  background-color: #007bff;
  color: white;
  border: 1px solid #222;
  padding: 4px 14px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  outline-color: #555;
  height: 36px;
  transition: 300ms;

  &:hover {
    background-color: #0056b3;
  }

  &:disabled {
    background-color: #ccc;
    border-color: #888;
    cursor: not-allowed;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  background: #fff;
}

li {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  line-height: 1;
  border-bottom: 1px solid #ccc;

  &.heading {
    padding: 10px 8px;
    font-weight: 600;
    color: #333;
    background: #fff;
  }

  >span {
    text-align: left;

    &:nth-child(3n) {
      width: 75px;
    }

    &:nth-last-child(2) {
      min-width: 65px;
      text-align: right;
    }

    &:last-child {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 3px;
      min-width: 50px;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  &:nth-child(even) {
    background: #eee;
  }
}

span[role="img"] {
  flex: 1;
  font-size: .7em;
  background: #fff;
  padding: 4px 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  transition: 300ms;

  &:hover {
    border-color: #999;
  }

  cursor: pointer;
}

.date {
  cursor: pointer;
}

.no-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 0;
  line-height: 1;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
}

.fade-out {
  animation: fadeOut 500ms forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes animatedOutline {
  0% {
    outline-color: transparent;
    background-color: transparent;
  }

  50% {
    outline-color: #8bf0b0;
    background-color: #8bf0b0;
  }

  100% {
    outline-color: transparent;
    background-color: transparent;
  }
}

.animated-outline {
  outline: 5px solid #8bf0b0;
  animation: animatedOutline 3s ease-in-out forwards;
}

@media only screen and (max-width: 460px) {
  body {
    padding: 0;
    background: #f6f6f6;
  }

  .App {
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .expenses-form {
    grid-template-columns: 1fr;
  }

  .no-results {
    flex-direction: column;
  }
}