@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --bg-color: #fff;
  --text-color: #444;
  --app-bg-color: #f6f6f6;
  --app-border-color: #ccc;
  --app-shadow-color: rgba(0, 0, 0, 0.1);
  --bg-color-li-even: #eee;
  --bg-color-li-odd: #fff;
  --input-bg-color: #fff;
  --input-text-color: #000;
  --input-select-outline-color: #007bff;
  --input-select-box-shadow: none;
  --border-color: #ccc;
  --button-action-bg-color: #fff;
  --button-action-border-color: #ddd;
  --button-disabled-bg-color: #ccc;
  --button-disabled-border-color: #888;
  --button-toggle-theme-bg-color: #fff;
  --button-toggle-theme-text-color: #222;
  --button-bg-color: #007bff;
  --button-bg-color-hover: #0056b3;
}

[data-theme="dark"] {
  --bg-color: #111;
  --text-color: #ccc;
  --app-bg-color: #222;
  --app-border-color: #333;
  --app-shadow-color: rgba(0, 0, 0, 0.6);
  --bg-color-li-even: #333;
  --bg-color-li-odd: #444;
  --input-bg-color: #333;
  --input-text-color: #fff;
  --input-select-outline-color: #111;
  --input-select-box-shadow: 0 2px 5px #111;
  --border-color: #555;
  --button-action-bg-color: #222;
  --button-action-border-color: #000;
  --button-disabled-bg-color: #1d1d1d;
  --button-disabled-border-color: #555;
  --button-toggle-theme-bg-color: #333;
  --button-toggle-theme-text-color: #aaa;
  --button-bg-color: #444;
  --button-bg-color-hover: #555;
}

body {
  margin: 0;
  padding: 0 20px;
  font-family: "Saira Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 300ms;
}

.App {
  position: relative;
  max-width: 420px;
  margin: 30px auto;
  padding: 20px 20px 25px;
  border: 1px solid var(--app-border-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--app-shadow-color);
  background: var(--app-bg-color);
  text-align: center;
}

.expenses-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;

  >div>input {
    width: 100%;
  }
}

.search-form {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  >* {
    flex: 1;
  }
}

.sort-order {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  >* {
    flex: 1;
  }
}

h1 {
  color: var(--text-color);
  font-size: clamp(1.3em, 4.5vw, 1.7em);
  font-weight: 500;
  margin: 0 0 10px;
  line-height: 1.2;
}

h2 {
  margin: 10px;
  font-size: clamp(1.1em, 5vw, 1.5em);
  text-align: center;
  font-weight: 600;
  color: #d9534f;

  span {
    color: var(--text-color);
  }
}

input,
button,
select {
  background: var(--input-bg-color);
  color: var(--input-text-color);
  box-shadow: var(--input-select-box-shadow);
  font-family: "Saira Condensed", sans-serif;
}

input {
  padding: 4px 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  outline-color: var(--input-select-outline-color);
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  padding: 4px 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  outline-color: var(--input-select-outline-color);
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &.minimal {
    background-image: linear-gradient(45deg, transparent 50%, #aaa 50%), linear-gradient(135deg, #aaa 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) calc(.9em + 2px), calc(100% - 10px) calc(.9em + 2px), calc(100% - 2em) 0.4em;
    background-size: 5px 5px, 5px 5px, 1px 1.4em;
    background-repeat: no-repeat;

    &:focus {
      background-image: linear-gradient(45deg, #555 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #555 50%), linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 10px) 0.9em, calc(100% - 15px) 0.9em, calc(100% - 2em) 0.4em;
      background-size: 5px 5px, 5px 5px, 1px 1.4em;
      background-repeat: no-repeat;
    }
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.filters {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  >* {
    flex: 1;
  }
}

button {
  height: 36px;
  background-color: var(--button-bg-color);
  color: white;
  border: 1px solid #222;
  padding: 4px 14px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  outline-color: #555;
  transition: 300ms;

  &:hover {
    background-color: var(--button-bg-color-hover);
  }

  &:disabled {
    background-color: var(--button-disabled-bg-color);
    border-color: var(--button-disabled-border-color);
    cursor: not-allowed;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  background: var(--bg-color-li-odd);
}

li {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  line-height: 1;
  border-bottom: 1px solid var(--border-color);

  &.heading {
    padding: 10px 8px;
    font-weight: 600;
    color: var(--text-color);
    background: var(--app-bg-color);
  }

  >span {
    text-align: left;

    &:nth-child(3n) {
      width: 75px;
    }

    &:nth-last-child(2) {
      min-width: 65px;
      text-align: right;
    }

    &:last-child {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 3px;
      min-width: 50px;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  &:nth-child(even) {
    background: var(--bg-color-li-even);
  }
}

span[role="img"] {
  flex: 1;
  font-size: .7em;
  background: var(--button-action-bg-color);
  padding: 5px 2px;
  border: 1px solid var(--button-action-border-color);
  border-radius: 4px;
  text-align: center;
  transition: 300ms;

  &:hover {
    border-color: #999;
  }

  cursor: pointer;
}

.date {
  cursor: pointer;
}

.no-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 0;
  line-height: 1;
  button { 
    min-width: 100px;
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
}

.fade-out {
  animation: fadeOut 500ms forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes animatedOutline {
  0% {
    outline-color: transparent;
    background-color: transparent;
  }

  50% {
    outline-color: #8bf0b0;
    background-color: #8bf0b0;
  }

  100% {
    outline-color: transparent;
    background-color: transparent;
  }
}

.animated-outline {
  outline: 5px solid #8bf0b0;
  animation: animatedOutline 3s ease-in-out forwards;
}

.toggle-theme {
  opacity: .5;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 5px 10px 2px;
  height: auto;
  font-size: 10px;
  color: var(--button-toggle-theme-text-color);
  background-color: var(--button-toggle-theme-bg-color);
  border-radius: 0 0 5px 5px;
  transform: translate(-50%, 21px);
  z-index: -1;
}

.toggle-theme:hover {
  opacity: 1;
  color: var(--text-color);
  background-color: var(--app-bg-color);
  cursor: pointer;
}

.confetti-wrapper {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@media only screen and (max-width: 420px) {
  body {
    padding: 0;
    background: var(--app-bg-color);
  }

  .App {
    margin: 0;
    padding-bottom: 50px;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .no-results {
    flex-direction: column;
  }

  .toggle-theme {
    padding: 2px 6px;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    transform: translate(-50%, -10px);
    z-index: 1;
  }
}

@media only screen and (max-width: 360px) {
  .expenses-form {
    grid-template-columns: 1fr;
  }
}